<div>


<div>
    <input [formControl]="searchControl" placeholder="Pesquisar por título" />
</div>  
  
<mat-paginator [pageSize]="pageSize" [length]="totalItems" ></mat-paginator>
<mat-card *ngIf="noResultsFound">
    <mat-card-title>Post não encontrado.</mat-card-title>
</mat-card>
<div *ngFor="let post of postView">
    
      
    <mat-card >
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-content>{{ post.body }}</mat-card-content>
        <button mat-button (click)="viewDetail(post.id)">Ver mais</button>
    </mat-card>
    

</div>
</div>